In [16]:
value1 = int(input("Enter first value "))
value2 = int(input("Enter second value "))
operator = input("Enter operator ")


if operator == "+":
    ans = value1+value2
    print(ans)
elif operator == "_":
    ans = value1 - value2
    print(ans)
elif operator == "*":
    ans = value1 * value2
    print(ans)
elif operator == "**":
    ans = value1 ** value2
    print(ans)  
else:
          print("Wrong operator")

Enter first value 3
Enter second value 5
Enter operator '+'
8

In [17]:
a = ['se.24','fe.45','am.56']
res = [int(sub.split('.')[1]) for sub in a]
print("Numeric value in list" + str(res))

Numeric value in list[24, 45, 56]

In [18]:
a = ['se.24','fe.45','am.56']
res = [int(sub.split('.')[1]) for sub in a]
print("Numeric value in list" + str(res))

Numeric value in list[24, 45, 56]

In [19]:
d={'key1':34,'key2':22,'key3':56,'key4':45}
sum(d.values())

157

In [20]:
a=['animals','village','animals','country','area','country']
def repeat(x):
    size = len(x)
    repeated = []
    for i in range(size):
        k = i + 1
        for j in range(k,size):
              if x[i] == x[j] and x[i] not in repeated:
                repeated.append(x[i])
    return repeated  
print(repeat(a))

['animals', 'country']

In [21]:
a={'maths':34,'science':45,'english':34,'urdu':45,'art':50}
print("dictionary",str(a))
rev_a = {}
for key, value in a.items():
    rev_a.setdefault(value,set()).add(key)
result = [key for key,values in rev_a.items()if len(values)>1]
print("Duplicate values",str(result))

('dictionary', "{'maths': 34, 'science': 45, 'art': 50, 'urdu': 45, 'english': 34}")
('Duplicate values', '[34, 45]')